<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AuthServer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <AuthServer.Settings1>
            <setting name="START_ARGS" serializeAs="String">
                <value>-bootstrap row_emul -devmode +online_server=194.67.220.128 +online_check_certificate=0</value>
            </setting>
            <setting name="SRV_PORT" serializeAs="String">
                <value>6000</value>
            </setting>
        </AuthServer.Settings1>
    </userSettings>
</configuration>
